<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>230583645368-q215cless7pfphjb4v0s3cagkc9ctp57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230583645368-q215cless7pfphjb4v0s3cagkc9ctp57</string>
	<key>API_KEY</key>
	<string>AIzaSyDwl79wUYVhM3mDZgaYhMowL-SQB9oVskw</string>
	<key>GCM_SENDER_ID</key>
	<string>230583645368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neel.hackernewsex</string>
	<key>PROJECT_ID</key>
	<string>hackernewsexercise</string>
	<key>STORAGE_BUCKET</key>
	<string>hackernewsexercise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:230583645368:ios:b1578d64fc0b2381</string>
	<key>DATABASE_URL</key>
	<string>https://hackernewsexercise.firebaseio.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
